﻿@model IEnumerable<Scrapper.Model.News.NewsModel>

@{
    ViewBag.Title = "News";
}


<h2>News List</h2>
<hr />
<div class="container">

    <div id="table_1">
        <div id="example_wrapper" class="dataTables_wrapper no-footer">

            <table cellpadding="0" cellspacing="0" border="0" class="display dataTable" id="example" style="border:1px solid #ccc;">

                <thead style="border: 1px solid #aaaaaa;background: #cccccc ; color: #222222;">
                    <tr>
                        <th style="width:300px; border-right:1px solid #aaa;">News Date</th>
                        <th style="width:500px;border-right:1px solid #aaa;text-align:center;">Heading</th>
                        <th style="width:370px;">Source Title</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model)
                    {
                        <tr class="odd gradeX">

                            <td style="border-right: 1px solid #ccc;" class="col-md-2">
                                @{
                                    DateTime dateTo = Convert.ToDateTime(data.NewsDate.ToString());
                                    string strDate = dateTo.ToString("dd-MM-yyyy");
                                }
                                @strDate
                            </td>
                            <td style="border-right: 1px solid #ccc;">
                                @{
                                    var description = HttpUtility.HtmlDecode(data.Description);
                                    if (string.IsNullOrEmpty(description))
                                    {
                                        <a href="@data.ArticleURL" target="_blank" title="No Description found">@data.Heading</a>

                                    }
                                    else
                                    {
                                        <a href="@data.ArticleURL" target="_blank" title="@data.Description">@data.Heading</a>
                                    }
                                }

                            </td>
                            <td>
                                @{
                                    var sourceURL = HttpUtility.HtmlDecode(data.SourceTitle);
                                }
                                <a href="@data.SourceURL" target="_blank">@sourceURL</a>
                            </td>

                        </tr>
                                    }

                </tbody>
            </table>
        </div>

    </div>
</div>
<style>
    .label {
        padding: 0px 10px 0px 10px;
        border: 1px solid #ccc;
        -moz-border-radius: 1em; /* for mozilla-based browsers */
        -webkit-border-radius: 1em; /* for webkit-based browsers */
        border-radius: 1em; /* theoretically for *all* browsers*/
    }

        .label.lightblue {
            background-color: #99CCFF;
        }

    #external_filter_container_wrapper {
        margin-bottom: 20px;
    }

    #external_filter_container {
        display: inline-block;
    }

    table.dataTable thead .sorting,
    table.dataTable thead .sorting_asc,
    table.dataTable thead .sorting_desc {
        padding-left: 5px;
    }
</style>

@section Scripts
{
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/jquery.dataTables.yadcf.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').dataTable({
                "aaSorting": [],
                "pagingType": "full_numbers",
                "aoColumnDefs": [{ 'bSortable': false, 'aTargets': [0] },
                { 'bSortable': false, 'aTargets': [1] },
                { 'bSortable': false, 'aTargets': [2] }]

            }).yadcf([{
                column_number: 0, filter_type: "range_date", date_format: 'dd-mm-yyyy', sort_as: "none", sort_order: "desc"
            },
            { column_number: 2, column_data_type: "html", html_data_type: "text", filter_default_label: "Select source Title" }]);

        });
    </script>
}
