﻿@model IEnumerable<Scrapper.DataAccess.SourceSelector>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Selector", "CreateSelecor", null, new { @class="btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Source URL
        </th>
        <th>
            News Container
        </th>
        <th>
            Css Selecor
        </th>
        <th>
            Item Selector
        </th>
        <th>
            Link Selector
        </th>
        <th>
            Heading Selector
        </th>
        <th>
            Date Selector
        </th>
        <th>
            Description Selector
        </th>
        <th>
            DateFormat Selector
        </th>
        <th>
            Culture Selector
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SourceTitle)
        </td>
        <td >
            <p class="test2">
                @Html.DisplayFor(modelItem => item.SourceURL)
            </p>
           
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewsContainer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CssSelecor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemSelector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LinkSelector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HeadingSelector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateSelector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionSelector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateFormatSelector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CultureSelector)
        </td>
        <td>
            <a href="/Admin/Edit/@item.ID" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
            <a href="/Admin/Delete/@item.ID" class="btn btn-default" onclick="return confirm('Are you sure you wish to delete this source?');"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>
}

</table>
<style>
    .test2 {
       width: 20em;
  overflow-wrap: break-word;
}
</style>