﻿@model IEnumerable<Scrapper.DataAccess.Subscriber>

@{
    ViewBag.Title = "Index";
}

<h2>Subscribers</h2>
<hr />
<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <a href="Subscriber/Create" class="btn btn-primary">Add New Subscriber</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instantly)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Daily)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weekly)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @if(item.Instantly == true)
            {
                <i class="glyphicon glyphicon-ok"></i>
            }
            else
            {
                <i class="glyphicon glyphicon-remove"></i>
            }
            @*@Html.DisplayFor(modelItem => item.Instantly)*@
        </td>
        <td>
            @if (item.Daily == true)
            {
                <i class="glyphicon glyphicon-ok"></i>
            }
            else
            {
                <i class="glyphicon glyphicon-remove"></i>
            }
            @*@Html.DisplayFor(modelItem => item.Daily)*@
        </td>
        <td>
            @if (item.Weekly == true)
            {
                <i class="glyphicon glyphicon-ok"></i>
            }
            else
            {
                <i class="glyphicon glyphicon-remove"></i>
            }
            @*@Html.DisplayFor(modelItem => item.Weekly)*@
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.ID }, new { @class= "btn btn-default glyphicon glyphicon-pencil" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class="btn btn-default" })*@
            <a href="Subscriber/Edit/@item.ID" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
            <a href="Subscriber/Delete/@item.ID" class="btn btn-default" onclick="return confirm('Are you sure you wish to delete this source?');"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>
}

</table>
