﻿<table id="example" class="display" cellspacing="0" style="width:100%;">
    <thead>
        <tr>
            <th>Source URL</th>
            <th>Total Items</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Date</th>
        </tr>
    </thead>
</table>
@section Scripts
{
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.2.1/js/dataTables.select.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/datetime.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#example').dataTable({
                "bServerSide": true,
                "sAjaxSource": "/Source/ViewLogData",
                "bProcessing": true,
                "aoColumns": [
                                { "sName": "SourceURL" },
                                { "sName": "ExtractedItems" },
                                { "sName": "StartTime" },
                                { "sName": "EndTime" },
                                { "sName": "CreatedOn" }
                ]
            });
                @*$('#example').DataTable({
                    "ajax": {
                        "url": '@Url.Action("ViewLogData", "Source")',
                        "dataSrc": ""
                    },
                    "columns": [
                    { "data": "SourceURL" },
                    { "data": "ExtractedItems" },
                    { "data": "StartTime" },
                    { "data": "EndTime" },
                     {
                         data: "CreatedOn", render: function (data, type, row) {
                         }
                     }]
                });*@
            });

    </script>
}
