﻿@model Scrapper.Model.News.SourceModel

@{
    ViewBag.Title = "New Source";
}


<div id="login" class="row span3 well well-large offset4">
    <div class="col-md-8">
        <section id="loginForm">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <h2>Add New Url</h2>
            <div class="form-horizontal">

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Source Title", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SourceTitle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SourceTitle, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("SourceURL", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SourceURL, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SourceURL, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
        </section>
    </div>

</div>
<div>
    @Html.ActionLink("Back to List", "Index", null,
    new { @class = "btn btn-default" })
</div>
