﻿@model PagedList.IPagedList<Scrapper.Model.News.SourceModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Source List</h2>
<br />
<p>
    @*@Html.ActionLink("Add New Url", "Create")*@
   
    <a href="Source/Create" class="btn btn-primary">Add New Url</a>
    @*<a href="Source/ViewLog" class="btn btn-primary pull-right">View Log</a>*@
</p>
<table class="table" id="srcTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Source Title")
            </th>
            <th>
                @Html.DisplayName("Source URL")
            </th>
            <th>

                @Html.DisplayName("Extracted Date")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="srcBody">
@*@foreach (var item in Model)
{
    <tr>
        <td>
               @{
                   var title = HttpUtility.HtmlDecode(item.SourceTitle);
               }
            @title
        </td>
        <td class="col-md-6">
            @Html.DisplayFor(modelItem => item.SourceURL)
        </td>
        <td>
            @{
                DateTime dateTo = Convert.ToDateTime(item.ExtractedDate.ToString());
                string strDate = dateTo.ToString("dd-MM-yyyy HH:mm");
            }
            @strDate
        </td>
        <td>
            <a href="Source/Edit/@item.ID" class="btn btn-default" ><i class="glyphicon glyphicon-pencil"></i></a>
            <a href="Source/Delete/@item.ID" class="btn btn-default" onclick = "return confirm('Are you sure you wish to delete this source?');"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>
}*@
        </tbody>

</table>
<hr />
@*<div class="row">
    <div class="pull-left">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
    <div class="pull-right">
        @Html.PagedListPager(Model, page => Url.Action("Index",new { page }))
    </div>
</div>*@
@section Scripts
{

    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/datetime.js"></script>
    <script type="text/javascript">

        var data = JSON.parse('@Html.Raw(ViewBag.Sources)');
        $(document).ready(function () {
           
            for (var i = 0; i < data.length; i++) {
               
                var date = data[i].ExtractedDate;
                var utcDate = moment.utc(date);
                // Get the local version of that date
                var localDate = utcDate.local();
                
                var formattedDate = moment(localDate._d).format('DD-MM-YYYY HH:mm:ss');

                var markup = "<tr><td class='col-md-2'>" + data[i].SourceTitle + "</td><td class='col-md-4'>" + data[i].SourceURL + "</td><td class='col-md-3'>" + formattedDate + "</td>";
                markup += "  <td class='col-md-3'><a href='Source/Edit/" + data[i].ID + "' class='btn btn-default' ><i class='glyphicon glyphicon-pencil'></i></a>";
                markup += "<a href='Source/Delete/" + data[i].ID + "' style='margin-left:5px;' class='btn btn-default del'><i class='glyphicon glyphicon-trash'></i></a>";
                markup += " </td> </tr>";
                $("#srcBody").append(markup);
            }

            $(".del").on("click", function () {
                var choice = confirm('Are you sure you wish to delete this source?');
                if (choice === true) {
                    return true;
                }
                return false;
            });
        });

    </script>
}