﻿@model IEnumerable<Scrapper.DataAccess.Log>

@{
    ViewBag.Title = "ViewLog";
  
}

<h2>Log Information</h2>
<br />
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayName("Source URL")
            </th>
            <th>
                @Html.DisplayName("Total Items")
            </th>
            <th>
                @Html.DisplayName("Start Time")
            </th>
            <th>
                @Html.DisplayName("End Time")
            </th>
            <th>
                @Html.DisplayName("Date")
            </th>
            <th></th>
        </tr>
        <tbody id="srcBody">

        </tbody>

    @foreach (var item in Model) {
            <tr>
                <td style="width:33%;">
                    <a href="@item.SourceURL" target="_blank">@item.SourceURL</a>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtractedItems)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    <a href="Source/DeleteLog/@item.LogId"  class="btn btn-default del"><i class="glyphicon glyphicon-trash"></i></a>

                </td>
            </tr>
        }

        </table>*@
<table id="tblEmployee" class="display" cellspacing="0" data-page-length='5'>
    <thead>
        <tr>
            <th style="width:33%;">SourceURL</th>
            <th>Extracted Items</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
</table>  
@section Scripts
{
<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
<script src="//cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/datetime.js"></script>
    <script type="text/javascript">

        var data = JSON.parse('@Html.Raw(ViewBag.Logs)');
        $(document).ready(function () {

            for (var i = 0; i < data.length; i++) {

                var date = data[i].CreatedOn;
                var utcDate = moment.utc(date);
                // Get the local version of that date
                var localDate = utcDate.local();
                var formattedDate = moment(localDate._i).format('DD-MM-YYYY HH:mm:ss');

                var markup = "<tr><td class='col-md-2'><a href=" + data[i].SourceURL + " target='_blank'>" + data[i].SourceURL + "</a></td><td >" + data[i].ExtractedItems + "</td><td >" + data[i].StartTime + "</td><td>" + data[i].EndTime + "</td><td>" + formattedDate + "</td>";
                markup += "<td><a href='Source/DeleteLog/" + data[i].LogId + "' style='margin-left:5px;' class='btn btn-default del'><i class='glyphicon glyphicon-trash'></i></a>";
                markup += " </td> </tr>";
                $("#srcBody").append(markup);
            }

            $(".del").on("click", function () {
                var choice = confirm('Are you sure you wish to delete this source?');
                if (choice === true) {
                    return true;
                }
                return false;
            });
        });

    </script>
<script type="text/javascript">
        $(document).ready(function () {
            $('#tblEmployee').DataTable({
                responsive: true,
                "processing": true,
                "serverSide": true,
                "info": true,
                "stateSave": true,
                "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
                "searching": true,
                "ordering": true,
                "ajax": "/Source/ViewLogData",
                "columns": [
                    { "data": "SourceURL" },
                    { "data": "ExtractedItems" },
                    {
                        "data": function (data, type, full) {
                            
                            var time = data.StartTime;
                            var vv = time.Hours + ":" + time.Minutes + ":" + time.Seconds;
                            var day = moment.utc(vv);
                            return day._i;
                        }
                    },
                    {
                        "data": function (data, type, full) {

                            var time = data.EndTime;
                            var vv = time.Hours + ":" + time.Minutes + ":" + time.Seconds;
                            var day = moment.utc(vv);
                            return day._i;
                        }
                    },
                    {
                        "data": function (data, type, full) {
                            var date = data.CreatedOn;
                            var utcDate = moment.utc(date);
                            // Get the local version of that date
                            var localDate = utcDate.local();
                            var formattedDate = moment(localDate._i).format('DD-MM-YYYY HH:mm:ss');
                            return formattedDate;
                        }
                    },
                    {
                        "data": function (data, type, full) {                           
                            return '<a href="/Source/DeleteLog/' + data.LogId+ '" class="btn btn-default del"><i class="glyphicon glyphicon-trash"></i></a>'                 
                        }
                    }
                ]
            });

            // Delete a record
            $('#tblEmployee').on('click', 'a.del', function (e) {
                e.preventDefault();
                var choice = confirm('Are you sure you wish to delete this source?');
                if (choice === true) {
                    return true;
                }
                return false;
            });
        });
</script>
}
<style type="text/css">
    .table {
        font-family: Vardana;
        font-size: 15px;
        font-weight: normal;
        display: table;
        border-collapse: collapse;
        border: solid 0px #C5C5C5;
    }

        .table td, th {
            border: 1px solid #ccc;
            background-color: #C5C5C5;
            color: #000;
        }

        .table td {
            border: 1px solid #C5C5C5;
            background-color: #C5C5C5;
            color: #000000;
            font-family: Vardana;
        }
</style>