﻿@model PagedList.IPagedList<Scrapper.DataAccess.User>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "UsersList";
}

<h2>Users</h2>
<br />
<p>
    <a href="/User/Register" class="btn btn-primary">Add New User</a>
</p>
<table class="table">
    <tr>
        <th>
           @Html.ActionLink("First Name", "UsersList", new { sortOrder = ViewBag.FirstNameSortParm }, new { @style= "color:#333333;" })
        </th>
        <th>
            @Html.ActionLink("Last Name", "UsersList", new { sortOrder = ViewBag.LastNameSortParm }, new { @style = "color:#333333;" })
        </th>
        <th>
            Email
        </th>      
        <th>
           Role
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>      
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role.Role1)
        </td>
        <td>
            <a href="/User/Edit/@item.Id" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
            <a href="/User/Delete/@item.Id" class="btn btn-default" onclick="return confirm('Are you sure you wish to delete this source?');"><i class="glyphicon glyphicon-trash"></i></a>

        </td>
    </tr>
}

</table>
<hr />
<div class="row">
    <div class="pull-left">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
    <div class="pull-right">
        @Html.PagedListPager(Model, page => Url.Action("UsersList",
    new { page, sortOrder = ViewBag.CurrentSort }))
    </div>
</div>
