@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.navbar-inverse {
    background-color: #f5f5f5;
    color: #377ba4;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,.25);
	border: 0;
}

.navbar-inverse .navbar-nav>li>a{
	color: #377ba4;
}

.navbar-inverse .navbar-nav>li>a:last-child{
	font-weight: 700;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #333;
    background-color: transparent;

}

.navbar-inverse .navbar-brand {
    color: #fff;
    background: #377ba4;
	font-weight: 700;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #fff;
    background-color: #377ba4;
}

body {
    font-size: 16px;
    color: #333;
    background-color: #fff;
}

#login {
    margin-top: 3%;
    box-shadow: none;
    border: 0;
	background: transparent;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: 'Oswald', sans-serif;
}

a{
	color: #377ba4;
}

a:hover{
	text-decoration: none;
}

.body-content{
	margin: 50px auto !important;
}

.form-control {
    border-radius: 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #377ba4;
	font-size: 16px;
}

.btn-success {
    color: #fff;
    background-color: #377ba4;
    border-color: #377ba4;
    font-weight: 700;
    font-size: 16px;
    width: 100%;
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
    background-color: #333;
    border-color: #333;
}

.container{
	padding: 0;
	margin: 0 auto;
}

table.dataTable{
	border: 1px solid transparent !important;
    background: #fff;
	font-family: 'Roboto', sans-serif;
}

table.dataTable thead{
	background: #fff !important;
}

table.dataTable thead th{
	font-weight: 500;
	width: auto !important;
	border-right: 0 !important;
}


table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 10px !important;
	vertical-align: top;
	border: 0;
	border-bottom: 1px solid #eee;
	border-right: 0 !important;
}

table.dataTable tbody td:first-child{
	min-width: 100px;
}

table.dataTable.display tbody tr.odd, table.dataTable.order-column.stripe tbody tr.odd{
	background: #eee;
}

table.dataTable.display tbody tr.odd, table.dataTable.order-column.stripe tbody tr.odd{
	background: #fff;
}

table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: transparent;
}
