﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Scraper</title>
            @Styles.Render("~/Content/css")
           
        <link href="~/Content/loginstyle.css" rel="stylesheet" />
    <link href="http://yadcf-showcase.appspot.com/resources/css/jquery.dataTables.10.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="http://yadcf-showcase.appspot.com/resources/css/dataTables.jqueryui.css" rel="stylesheet" />
    <link href="http://yadcf-showcase.appspot.com/resources/css/jquery-ui.1.9.0.css" rel="stylesheet" />
    @*<link href="http://yadcf-showcase.appspot.com/resources/css/jquery.dataTables.yadcf.css" rel="stylesheet" />*@
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    
    @Scripts.Render("~/bundles/modernizr")
    @*<link href="~/Content/scrapper.css" rel="stylesheet" />*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Scraper", "Index", "News", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["User"] != null)
                    {
                        var user = Session["User"] as Scrapper.DataAccess.User;
                        if (user != null && user.RoleId == 1)
                        {
                            <li>@Html.ActionLink("News", "Index", "News")</li>
                            <li>@Html.ActionLink("Sources", "Index", "Admin")</li>
                            <li>@Html.ActionLink("Users", "UsersList", "User")</li>
                            <li>@Html.ActionLink("Subscribers", "Index", "Subscriber")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("News", "Index", "News")</li>
                        }
                       
                    }
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            @*<p style="text-align: center;">&copy; @DateTime.Now.Year - Scrapper</p>*@
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/datetime.js"></script>
   
    @RenderSection("scripts", required: false)
    @*<script src="~/Scripts/jquery.dataTables.yadcf.js"></script>*@
</body>
</html>
