﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated && Session["User"] != null)
{
    var user = Session["User"] as Scrapper.DataAccess.User;
    if (user != null)
    {
        using (Html.BeginForm("LogOff", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink(user.FirstName + " " + @user.LastName, "", "", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        }
    }

}
else
{
    <ul class="nav navbar-nav navbar-right">
        @if (Request.IsAuthenticated && Session["User"] != null)
        {
            var user = Session["User"] as Scrapper.DataAccess.User;
            if (user != null && user.RoleId == 1)
            {
            <li>@Html.ActionLink("Register", "Register", "User", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            }
        }
        <li>@Html.ActionLink("Log in", "Login", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
